{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet" href="{% static 'store/css/style.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>

        <nav class="navbar">
            <div class="brand-name"><a href="{% url 'store:home' %}">AiAi.com</a></div>
            <ul class="navitem-container">
                <li> <li class="item"><a href="{% url 'store:home' %}">Home</a></li></li>
                <li class="item">
                    {% if user.is_authenticated %}
                    <a href="{% url 'store:my_basket' user.pk %}">My Basket
                        <i class="fa fa-shopping-basket basket">
                            <small>{{ user.customer.total_items }}</small>
                        </i>
                    </a>
                    {% else %}
                    <a href="#">My Basket
                        <i class="fa fa-shopping-basket basket">
                            <small>0</small>
                        </i>
                    </a>
                    {% endif %}
                </li>
                <li class="item"><a href="{% url 'store:payment' %}">Payment Center</a></li>
            </ul>
            
            <div class="search-container">
                <i class="fa fa-search search-icon"></i>
                <input class="search-input" type="text" placeholder="Search"/>
                <i class="fa fa-times times-icon"></i>
            </div>
           
            <ul class="navitem-container">
                {% if user.is_authenticated %}
                <li class="item"><a href="{% url 'users:profile' %}">My Profile</a></li>
                <li class="item"><a href="{% url 'users:logout' %}">Logout</a></li>
                {% else %}
                <li class="item"><a href="{% url 'users:register' %}">Register</a></li>
                <li class="item"><a href="{% url 'users:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="slide-container">
            <div class="slide-image-container">
                <div class="slide-img" >
                    <img src="{% static 'store/slide/img1.jpg' %}" alt="">
                </div>
                <div class="slide-img">
                    <img src="{% static 'store/slide/img2.jpg' %}" alt="">
                </div>
                <div class="slide-img">
                    <img src="{% static 'store/slide/img3.jpg' %}" alt="">
                </div>
                <div class="slide-img">
                    <img src="{% static 'store/slide/img4.jpg' %}" alt="">
                </div>
                <div class="slide-img">
                    <img src="{% static 'store/slide/img5.jpg' %}" alt="">
                </div>
            </div>
            <div class="indicator">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>

    </header>
    <main>
        <div class="side-categories">
            <div class="secondary-menu">
                <ul class="secondary-item-container">
                    <li class="category" style="cursor: pointer;">Categories</li>
                    <li><a href="{% url 'store:shop_by_brand' %}">Shop by brand</a></li>
                    <li><a href="#">Sell here</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
            </div>
            {% block content %}

            {% endblock content %}
            <div class="categories">
                <div class="close-button">
                    <i class="fa fa-times times-button"></i></li>
                </div>
                <ul class="category-items">
                    {% for key, value in categories.items %}
                        <li class="category-item">
                            <a class="category-link" href="{% url 'store:category' value %}">{{ key }}</a>
                            <ul class="sub-category-items">
                                {% for k, v in new_products.items %}
                                <li class="sub-category-item">
                                {% if v.category == key %}
                                    <a class="sub-category-link" href="{% url 'store:sub_category' v.pk%}">{{ k }}</a>
                                {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>


    <script type="text/javascript" src="{% static 'store/js/main.js' %}"></script>
</body>
</html>
